# Time Zone
TZ=Europe/London

# User IDs (run 'id' command to find yours)
PUID=1000
PGID=1000

# Media Server Environment Configuration
PORTAINER_PORT=9443
HOMARR_PORT=7575
QBITTORRENT_PORT=8080
SONARR_PORT=8989
RADARR_PORT=7878
PROWLARR_PORT=9696
FLARESOLVERR_PORT=8191
JELLYFIN_PORT=8096
JELLYFIN_HTTPS_PORT=8920

# VPN Configuration
#VPN_SERVICE_PROVIDER=protonvpn
#VPN_TYPE=openvpn
#OPENVPN_USER=your_vpn_username
#OPENVPN_PASSWORD=your_vpn_password
#SERVER_COUNTRIES=Netherlands

# Server URL (for Jellyfin external access)
SERVER_URL=http://$(hostname -I | awk '{print $1}')

# SSH Configuration
SSH_PORT=22
SSH_ALLOW_USERS=your_username
